#body1
{
    background-attachment: fixed;
    background-image: url(backgrpund.png);
    background-size: cover;
}
.join
{
  position: relative;
  top: 150px;
  margin-left: 10%;
  margin-right: 10%;
  width:80%;
  border-bottom: solid 2px rgba(170, 169, 169, 0.842);
}
.joinform
{
    position: relative;
    box-sizing: border-box;
    box-shadow:5px 5px 5px rgba(119, 118, 118, 0.5);
    top: 200px;
    padding: 30px;
    width: 80%;
    margin: auto;
    padding: 5%;
    background-color: rgba(238, 247, 248, 0.616);
}
.form-container
{
    background-color: rgba(255, 255, 255, 0.733);
    padding: 30px;
}
#joininput
{
    display:block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
.submitbut
{
    color: white;
    background-color: thistle;
    border: none;
    border-radius: 4px;
    width: 300px;
    padding: 10px;
    font-size: 15pt;
    margin-left: 30%;
    margin-top:20px;
}
.submitbut:hover
{
    opacity: 0.8;
}
